<form method="post" action="{{ path('app_alm_alumno_delete', {'almId': alm_alumno.almId}) }}" onsubmit="return confirm('¿Esta seguro de borrar al alumno?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alm_alumno.almId) }}">
    <button class="btn btn-danger col-md-4">Delete</button>
</form>
