{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block body %}

<div class="col-sm-12" style="padding-left:2.5%; padding-right:2.5%">  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item active">Gestión de alumnos</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <h3 class="box-title m-b-0">Gestión de alumnos</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-secondary" href="{{ path('app_alm_alumno_new') }}">
        <i class="fas fa-plus"></i> Nuevo alumno</a>
  </div><br>
 
  <div class="table-responsive">
    <table id="AlmAlumnos" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Grado</th>
          <th style="width: 25em; text-align:center;">Acciones</th>
        </tr>
      </thead>
    <tbody>
      {% for alm_alumno in alm_alumnos %}
        <tr>
          <td>{{ alm_alumno.almCodigo }}</td>
          <td>{{ alm_alumno.almNombre }}</td>
          <td>{{ alm_alumno.GrdId.grdNombre }}</td>
          <td>
            <a class="btn-sm btn-info btn" href="{{ path('app_alm_alumno_show', {'almId': alm_alumno.almId}) }}">Ver</a>
            <a class="btn-sm btn-warning btn" href="{{ path('app_alm_alumno_edit', {'almId': alm_alumno.almId}) }}">Editar</a>
          </td>
        </tr>
        {% else %}
          <tr>
            <td colspan="4">No se encuentran resultados</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}