{% extends 'base.html.twig' %}

{% block title %}Nuevo alumno{% endblock %}

{% block body %}

<style>
.asterisk{
  color:red;
  display:inline;}
</style>

<div style="padding-left:8%; padding-right:2.5%">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_alm_alumno_index') }}">Gestión de alumnos</a></li>
            <li class="breadcrumb-item active">Agregar alumno</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="col-md-10">
    <h3 class="box-title m-b-0">Nuevo alumno</h3><br>
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title" style="font-weight: bold;">Alumno</h3>
        </div>
        {{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
        <div class="card-body">
            <div class="form-group">
                <label>Código&nbsp;</label><div class="asterisk">*</div>
                {{ form_widget(form.almCodigo, {'attr': {'class': 'form-control','placeholder': 'Escriba el código del alumno'}}) }}
                {{ form_errors(form.almCodigo) }}
            </div>
            <div class="form-group">
                <label>Nombre completo&nbsp;</label><div class="asterisk">*</div>
                {{ form_widget(form.almNombre, {'attr': {'class': 'form-control','placeholder': 'Escriba el nombre completo del alumno'}}) }}
                {{ form_errors(form.almNombre) }}
            </div>
            <div class="form-group">
                <label>Edad&nbsp;</label><div class="asterisk">*</div>
                {{ form_widget(form.almEdad, {'attr': {'class': 'form-control','placeholder': '##'}}) }}
                {{ form_errors(form.almEdad) }}
            </div>
            <div class="form-group">
                <label>Sexo&nbsp;</label><div class="asterisk">*</div>
                {{ form_widget(form.almSexo, {'attr': {'class': 'form-control','placeholder': 'Escriba el sexo del alumno'}}) }}
                {{ form_errors(form.almSexo) }}
            </div>
            <div class="form-group">
                <label>Grado&nbsp;</label><div class="asterisk">*</div>
                {{ form_widget(form.GrdId, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.GrdId) }}
            </div>
            <div class="form-group">
                <label>Observaciones</label>
                {{ form_widget(form.almObservacion, {'attr': {'class': 'form-control','placeholder': 'Escriba observacione adicionales'}}) }}
                {{ form_errors(form.almObservacion) }}
            </div>
        </div>
        <div class="card-footer">  
            <div class="row">         
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success col-md-4"> Guardar</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary col-md-4" href="{{ path('app_alm_alumno_index') }}" > Regresar</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}