{% extends 'base.html.twig' %}

{% block title %}Ver alumno{% endblock %}

{% block body %}

<div style="padding-left:8%; padding-right:2.5%">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_alm_alumno_index') }}">Gestión de grados</a></li>
            <li class="breadcrumb-item active">Ver alumno</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="col-md-10">
    <h3 class="box-title m-b-0">Información del alumno</h3><br>     
    <table class="table">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ alm_alumno.almCodigo }}</td>
            </tr>
            <tr>
                <th>Nombre completo</th>
                <td>{{ alm_alumno.almNombre }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ alm_alumno.almEdad }} Años</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ alm_alumno.almSexo }}</td>
            </tr>
            <tr>
                <th>Grado</th>
                <td>{{ alm_alumno.GrdId.grdNombre }}</td>
            </tr>
            <tr>
                <th>Observación</th>
                <td>{{ alm_alumno.almObservacion }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">           
        <div class="col-md-6" style="padding-bottom:1.5%;">
            <a class="btn btn-warning btn-block" href="{{ path('app_alm_alumno_edit', {'almId': alm_alumno.almId}) }}">Editar</a>
        </div>
        <div  class="col-md-6">
            <a class="btn btn-primary btn-block" href="{{ path('app_alm_alumno_index') }}" >Regresar a la lista</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}