<form method="post" action="{{ path('app_grd_grado_delete', {'grdId': grd_grado.grdId}) }}" onsubmit="return confirm('¿Realmente desea borrar el grado?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grd_grado.grdId) }}">
    <button class="btn btn-danger col-md-4">Borrar</button>
</form>
