{% extends 'base.html.twig' %}

{% block title %}Editar grado{% endblock %}

{% block body %}

<style>
.asterisk{
  color:red;
  display:inline;}
</style>

<div style="padding-left:8%; padding-right:2.5%">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_grd_grado_index') }}">Gestión de grados</a></li>
            <li class="breadcrumb-item active">Editar grado</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="col-md-10">
    <h3 class="box-title m-b-0">Editar grado</h3><br>
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title" style="font-weight: bold;">Grado</h3>
        </div>
        {{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
        <div class="card-body">
            <div class="form-group">
              <label>Nombre&nbsp;</label><div class="asterisk">*</div>
              {{ form_widget(form.grdNombre) }}
              {{ form_errors(form.grdNombre) }}
            </div>
            <div class="form-group">
              <label>Materias</label>
              {{ form_widget(form.mxg_id_mat, {'attr': {'class': 'form-check'}}) }}
              {{ form_errors(form.mxg_id_mat) }}
            </div>
        </div>
        <div class="card-footer">  
            <div class="row">         
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success col-md-4"> Guardar</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary col-md-4" href="{{ path('app_grd_grado_index') }}" > Regresar</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        </div> <br>
        <div class="col-md-4">
          {{ include('grd_grado/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
