{% extends 'base.html.twig' %}

{% block title %}Grados{% endblock %}

{% block body %}

<div class="col-sm-12" style="padding-left:2.5%; padding-right:2.5%">  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item active">Gestión de grados</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <h3 class="box-title m-b-0">Gestión de grados</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-secondary" href="{{ path('app_grd_grado_new') }}"> Nuevo grado</a>
  </div><br>
 
  <div class="table-responsive">
    <table id="AlmAlumnos" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th style="width: 25em; text-align:center;">Acciones</th>
        </tr>
      </thead>
    <tbody>
      {% for grd_grado in grd_grados %}
        <tr>
          <td>{{ grd_grado.grdNombre }}</td>
          <td>
              <a class="btn-sm btn-info btn" href="{{ path('app_grd_grado_show', {'grdId': grd_grado.grdId}) }}">Ver</a>
              <a class="btn-sm btn-warning btn" href="{{ path('app_grd_grado_edit', {'grdId': grd_grado.grdId}) }}">Editar</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="2">No se encuentran resultados</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
