{% extends 'base.html.twig' %}

{% block title %}Ver grado{% endblock %}

{% block body %}

<div style="padding-left:8%; padding-right:2.5%">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_grd_grado_index') }}">Gestión de grados</a></li>
            <li class="breadcrumb-item active">Ver grado</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="col-md-10">
    <h3 class="box-title m-b-0">Información del grado</h3><br>     
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ grd_grado.grdNombre }}</td>
            </tr>
            <tr>
                <th>Materias</th>
                <td>{{ materias | join(', ') }}
            </tr>
        </tbody>
    </table>
     

    <div class="row">           
        <div class="col-md-6" style="padding-bottom:1.5%;">
            <a class="btn btn-warning btn-block" href="{{ path('app_grd_grado_edit', {'grdId': grd_grado.grdId}) }}">Editar</a>
        </div>
        <div  class="col-md-6">
            <a class="btn btn-primary btn-block" href="{{ path('app_grd_grado_index') }}" >Regresar a la lista</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}