{% extends 'base.html.twig' %}

{% block title %}Práctica PHP{% endblock %}

{% block body %}

<div class="content-header">
    <div class="container-fluid text-center">
        <div class="row">
        <h1 class="">Bienvenido/a</h1>
        </div>
    </div>
</div> 
      
     
<div class="row">
    <div class="card">
        <div class="card-body text-center">
            <div class="row">  
                <div class="col-sm-4 col-4">
                    <a href="{{ path('app_mat_materia_index') }}" class="btn btn-primary">Gestión de materias</a>
                </div>
                <div class="col-sm-4 col-4">
                    <a href="{{ path('app_grd_grado_index') }}" class="btn btn-primary">Gestión de grados</a>
                </div>
                <div class="col-sm-4 col-4">
                    <a href="{{ path('app_alm_alumno_index') }}" class="btn btn-primary">Gestión de alumnos</a>
                </div>
            </div>
        </div>
    </div>  
</div><br>
<div class="row">
    <h4 class="box-title m-b-0">Materias por alumno</h4><br>
    <div class="row justify-content-start">
        <div class="col-md-4">
            <div class="form-group">
                <label>Alumno/a</label>
                <select id="alumno" class="js-example-responsive" style="width: 100%">
                    <option value="">Seleccione el alumno...</option>
                    <option value="0">Todos</option>
                    {% for alm_alumno in alm_alumnos %}
                        <option value="{{ alm_alumno.almId }}">{{ alm_alumno.almCodigo }} - {{ alm_alumno.almNombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="white-box" style="padding-top:3%;" id="contenedor"></div>

<script>
$(document).on('change', '#alumno', function(){
    var url = "{{ path('materia_alumno') }}"
    var id = document.getElementById("alumno");
    var idAlumno = id.options[id.selectedIndex].value;

    $.ajax({
        url: url,
        type: 'POST',
        data: {
            'idAlumno': idAlumno,
        },
    })
    .done(function(response) {
        if (response.code == 200) {
            $("#contenedor").html(response.dv); 
        }else{
            $("#contenedor").html('<p class="badge badge-warning" style="font-size: 16px"> Parece que no hay datos o ha ocurrido un error</p>');
        }
    })
    .fail(function(){console.log("Error");})
    .always(function(){console.log("Completo");}); 
});
</script>
{% endblock %}
