<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Alumno</th>
                <th>Grado</th>
                <th>Materias</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 0 %}
            {% for alumno in alumnos %}
                {% set i = i + 1 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ alumno[0] }}</td>
                    <td>{{ alumno[1] }}</td>
                    <td>{{ alumno[2] | join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>