<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Alumno</th>
                <th>Grado</th>
                <th>Materias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td>{{ alm_alumno.almNombre }}</td>
                <td>{{ alm_alumno.GrdId.grdNombre }}</td>
                <td>{{ materias | join(', ') }}
            </tr>
        </tbody>
    </table>
</div>