<form method="post" action="{{ path('app_mat_materia_delete', {'matId': mat_materium.matId}) }}" onsubmit="return confirm('¿Realmente deseas eliminar la materia?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mat_materium.matId) }}">
    <button class="btn btn-danger col-md-4">Borrar</button>
</form>
