{% extends 'base.html.twig' %}

{% block title %}Materias{% endblock %}

{% block body %}

<div class="col-sm-12" style="padding-left:2.5%; padding-right:2.5%">  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('app_inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item active">Gestión de materias</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <h3 class="box-title m-b-0">Gestión de materias</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-secondary" href="{{ path('app_mat_materia_new') }}"> Nueva materia</a>
  </div><br>
 
  <div class="table-responsive">
    <table id="MatMaterias" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th style="width: 25em; text-align:center;">Acciones</th>
        </tr>
      </thead>
    <tbody>
        {% for mat_materium in mat_materias %}
            <tr>
                <td>{{ mat_materium.matNombre }}</td>
                <td>
                    <a class="btn-sm btn-info btn" href="{{ path('app_mat_materia_show', {'matId': mat_materium.matId}) }}">Ver</a>
                    <a class="btn-sm btn-warning btn" href="{{ path('app_mat_materia_edit', {'matId': mat_materium.matId}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
        <tr>
          <td colspan="2">No se encuentran resultados</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}